<table class="table">
  <thead>
  <tr>
    <th colspan="4" style="text-align:center; "><h4>Type mapping</h4></th>
  </tr>
  <tr>
      <th colspan="4" style="text-align:center; ">
          <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:7%"><input type="text" style="float:left;width: 92%;padding-right:0px;" [(ngModel)]="query">
      </th>
  </tr>
  <tr style="border-left: 1px; border-right: 1px">
    <th>TType<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>TT<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Source<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td class="nowrap" *ngIf="!group.edition">{{group.ttype}}</td>
    <td class="nowrap" *ngIf="group.edition"><input type="text" maxlength="50" [(ngModel)]="group.ttype" class="myInput"></td>
    <td class="nowrap" *ngIf="!group.edition">{{group.tt}}</td>
    <td class="nowrap" *ngIf="group.edition"><input type="text" maxlength="15" [(ngModel)]="group.tt" class="myInput"></td>
    <td class="nowrap" *ngIf="!group.edition">{{group.source}}</td>
    <td class="nowrap" *ngIf="group.edition"><input type="text" maxlength="10" [(ngModel)]="group.source" class="myInput"></td>
    <td>
      <div>
        <div class="clickable" (click)="edit(group)" *ngIf="!group.edition" >
          <a>Edit</a>
        </div>
        <div class="clickable" (click)="save(group)" *ngIf="group.edition" >
          <a>Save </a>
        </div>
        <div class="clickable" (click)="cancel(group)" *ngIf="group.edition" >
        <a>Cancel</a>
        </div>
        <div class="clickable" (click)="delete(group)" *ngIf="!group.edition" >
        <a>Delete </a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <div *ngIf="page && page.totalPages>1" style="height: 30px;">

          <ul class="pagination pagination-sm">
              <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
              <a class="clickable" (click)="changePage(one)">{{one}}</a>
              </li>
          </ul>
          </div>
      </td>
  </tr>
  <tr>
    <td colspan="4"><a (click)="add()" class="pointer">+Add new record</a></td>
  </tr>
  </tfoot>
</table>
