<table class="table">
  <thead>
  <tr>
    <th colspan="4" style="text-align:center; "><h4>Application parameters</h4></th>
  </tr>
  <tr>
      <th colspan="4" style="text-align:center; ">
          <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:7%"><input type="text" style="float:left;width: 92%;padding-right:0px;" [(ngModel)]="query">
      </th>
  </tr>
  <tr style="border-left: 1px; border-right: 1px">
    <th>ID</th>
    <th>Description<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Value</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let parameter of parameters">
    <td class="nowrap">{{parameter.paramId}}</td>
    <td class="nowrap" *ngIf="!parameter.edition">{{parameter.description}}</td>
    <td class="nowrap" *ngIf="parameter.edition"><input type="text" maxlength="40" [(ngModel)]="parameter.description" class="myInput"></td>
    <td class="nowrap" *ngIf="!parameter.edition">{{parameter.value}}</td>
    <td class="nowrap" *ngIf="parameter.edition"><input type="text" maxlength="4" [(ngModel)]="parameter.value" class="myInput"></td>
  <td>
      <div>
          <div class="clickable" (click)="edit(parameter)" *ngIf="!parameter.edition" >
          <a>Edit</a>
      </div>
      <div class="clickable" (click)="save(parameter)" *ngIf="parameter.edition" >
      <a>Save </a>
      </div>
      <div class="clickable" (click)="cancel(parameter)" *ngIf="parameter.edition" >
      <a>Cancel</a>
      </div>
      <div class="clickable" (click)="delete(parameter)" *ngIf="!parameter.edition" >
      <a>Delete </a>
      </div>
      </div>
  </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <div *ngIf="page && page.totalPages>1" style="height: 30px;">

          <ul class="pagination pagination-sm">
              <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
              <a class="clickable" (click)="changePage(one)">{{one}}</a>
              </li>
          </ul>
          </div>
      </td>
  </tr>
  <tr>
    <td colspan="4"><a (click)="add()" class="pointer">+Add new record</a></td>
  </tr>
  </tfoot>
</table>
