<ul>
    <li class="pointer"><a (click)="load(1)" class="pointer">Transaction Report</a></li>
    <li class="pointer"><a (click)="load(2)" class="pointer">Bank statements</a></li>
    <li class="pointer"><a (click)="load(3)" class="pointer">Expenditures transactions</a></li>
</ul>
<table class="table">
    <thead>
    <tr>
        <th [attr.colspan]=collspan() style="text-align:center; "><h4>{{name}}</h4></th>
    </tr>
    <tr>
        <th [attr.colspan]=collspan()-3 style="text-align:center; ">
            <div style="float:left">Date format for search DDMMYYYY</div> <br/>
            <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:5%;"><input type="text" style="float:left;width: 94%;padding-right:0px;" [(ngModel)]="query">
        </th>
      <th colspan="3">
        <a class="btn btn-primary" (click)="manual();myModal.open()">
          Manual
        </a>
        <a class="btn btn-primary" (click)="allAndManual();myModal.open()">
          All & Manual
        </a>
        <a class="btn btn-primary" (click)="cleanAuto();myModal.open()">
          Update Genex
        </a>
      </th>

    </tr>
    <tr>
        <th [attr.colspan]=collspan() style="text-align:center; ">
            <div style="float:left">Show not reconciled transactions “Recon Id is null or 0”</div> <input type="checkbox" placeholder="" [(ngModel)]="recon" (change)="filterRecon($event)" style="float:left;margin-left:10px">
        </th>

    </tr>
    <tr style="border-left: 1px; border-right: 1px">
        <th>ID</th>
        <th>Recon Id<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Manual ID<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Security<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>

        <th *ngIf="report==1">Work Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th *ngIf="report==1">Cost Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th *ngIf="report==1">Prolo<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th *ngIf="report==1">All In<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th *ngIf="report==2">Work Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th *ngIf="report==3">Work Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>


        <th>Group<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Date<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>TT<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>MTT<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Portfolio<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Source<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Process Flag<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Description<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transation of reportTransations">
    <td>{{transation.id}}</td>

    <td>{{transation.reconId}}</td>

    <td *ngIf="!(transation.edition || transation.new)">{{transation.manualId}}</td>
    <td *ngIf="transation.new || transation.edition"><input type="number" [(ngModel)]="transation.manualId" class="myInput"></td>

    <td *ngIf="!(transation.new || transation.edition)">{{transation.security}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="10" [(ngModel)]="transation.security" class="myInput"></td>

    <td *ngIf="!transation.new"><div style="float:right">{{numberWithCommas(transation.amount | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new"><input type="number" [(ngModel)]="transation.amount" class="myInput"></td>

    <td *ngIf="!transation.new && report==1"><div style="float:right">{{numberWithCommas(transation.workAmount | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==1"><input type="number" [(ngModel)]="transation.workAmount" class="myInput"></td>

    <td *ngIf="!transation.new && report==1"><div style="float:right">{{numberWithCommas(transation.costAmount | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==1"><input type="number"  [(ngModel)]="transation.costAmount" class="myInput"></td>


    <td *ngIf="!transation.new && report==1"><div style="float:right">{{numberWithCommas(transation.prolo | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==1"><input type="number"[(ngModel)]="transation.prolo" class="myInput"></td>


    <td *ngIf="!transation.new && report==1"><div style="float:right">{{numberWithCommas(transation.allin | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==1"><input type="number" [(ngModel)]="transation.allin" class="myInput"></td>

    <td *ngIf="!transation.new && report==2"><div style="float:right">{{numberWithCommas(transation.workAmount | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==2"><input type="number"  [(ngModel)]="transation.workAmount" class="myInput"></td>

    <td *ngIf="!transation.new && report==3"><div style="float:right">{{numberWithCommas(transation.workAmount | number:'.2':'enZA')}}</div></td>
    <td *ngIf="transation.new && report==3"><input type="number" [(ngModel)]="transation.workAmount" class="myInput"></td>

    <td *ngIf="!(transation.new || transation.edition)">{{transation.groupId}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="30" [(ngModel)]="transation.groupId" class="myInput"></td>

    <td *ngIf="!transation.new"><span style="float: right">{{transation.date | date:'yyyy-MM-dd'}}</span></td>
    <td *ngIf="transation.new"><input type="date" [(ngModel)]="transation.date" class="myInput"></td>


    <td *ngIf="!(transation.new || transation.edition)">{{transation.tt}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="30" [(ngModel)]="transation.tt" class="myInput"></td>

    <td *ngIf="!(transation.new || transation.edition)">{{transation.mtt}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="2" [(ngModel)]="transation.mtt" class="myInput"></td>

    <td *ngIf="!(transation.new || transation.edition)">{{transation.portfolio}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="25" [(ngModel)]="transation.portfolio" class="myInput"></td>

    <td *ngIf="!transation.new">{{transation.skip}}</td>
    <td *ngIf="transation.new"><input type="checkbox" [(ngModel)]="transation.skip" class="myInput"></td>

    <td *ngIf="!(transation.new || transation.edition)">{{transation.gnxFlag}}</td>
    <td *ngIf="transation.new|| transation.edition"><input type="text" maxlength="2" [(ngModel)]="transation.gnxFlag" class="myInput"></td>

    <td *ngIf="!transation.new">{{transation.description}}</td>
    <td *ngIf="transation.new"><input type="text" maxlength="200" [(ngModel)]="transation.description" class="myInput"></td>


    <td>
        <div>
            <div class="clickable" (click)="edit(transation)" *ngIf="!transation.edition" >
            <a>Edit</a>
        </div>
        <div class="clickable" (click)="save(transation)" *ngIf="transation.edition" >
        <a>Save </a>
        </div>
        <div class="clickable" (click)="cancel(transation)" *ngIf="transation.edition" >
        <a>Cancel</a>
        </div>
        <div class="clickable" (click)="delete(transation)" *ngIf="!transation.edition" >
        <a>Hold</a>
        </div>
        </div>
    </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td [attr.colspan]=collspan()>
            <div *ngIf="page && page.totalPages>1" style="height: 30px;">

            <ul class="pagination pagination-sm">
                <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
                <a class="clickable" (click)="changePage(one)">{{one}}</a>
                </li>
            </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td [attr.colspan]=collspan()><a (click)="add()" class="pointer">+Add new record</a></td>
    </tr>
    </tfoot>
</table>


<modal #myModal [closeOnEscape]="false"
       [closeOnOutsideClick]="false">
  <modal-header>
    <h3>Do you want to execute procedure?</h3>
  </modal-header>
  <modal-footer>
    <button class="btn btn-primary" *ngIf="!running" (click)="run()">Confirm</button>
    <button class="btn btn-primary"  *ngIf="!running"(click)="myModal.close()">Close</button>

    <button class="btn btn-sm btn-warning" disabled="disabled" *ngIf="running"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> In Progress...</button>
  </modal-footer>
</modal>
