<div class="panel panel-default panel-default-nested" style="margin-top:60px;">
  <div class="panel-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"><app-account></app-account></div>
      </div>
      <div class="row">
        <div class="col-md-6"><app-parameter></app-parameter></div>
        <div class="col-md-6"><app-group></app-group></div>
      </div>
    </div>

  </div>
</div>
