.wrapper {
  width: 100%;
  overflow: hidden;
}
.first {
  width: 45%;
  float:left;
  border: 1px solid black;
  margin-right: 10%;
}
.second {
  border: 1px solid black;
  overflow: hidden;;
}
.panel-default{
  border: 0px;
}
