<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/config"><img src="logo.jpg" height="50px"/></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="font-size:1.4em;margin-top:15px;">
        <li><a routerLink="/process" routerLinkActive="active"><strong>Process Status / RUN</strong></a></li>
        <li><a routerLink="/reconciliation" routerLinkActive="active"><strong>Manual Reconciliation</strong></a></li>
        <li><a routerLink="/statistics" routerLinkActive="active"><strong>Genex Statistics</strong></a></li>
        <!--<li><a routerLink="/ttmapping" routerLinkActive="active"><strong>Others</strong></a></li>-->
        <li><a routerLink="/exceptionPane" routerLinkActive="active"><strong>Exceptions</strong></a></li>
        <li><a routerLink="/controls" routerLinkActive="active"><strong>Control</strong></a></li>
        <li><a routerLink="/audit" routerLinkActive="active"><strong>Audit</strong></a></li>
        <li><a routerLink="/config" routerLinkActive="active"><strong>Configs</strong></a></li>



      </ul>
    </div>
  </div>
  <div class="header-bar"></div>
</nav>

