<div class="panel panel-default panel-default-nested" style="margin-top:60px;">
  <div class="panel-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"><app-report-transaction></app-report-transaction></div>
      </div>
      <div class="row">
        <div class="col-md-12"><app-report-transaction-manual></app-report-transaction-manual></div>
      </div>
    </div>

  </div>
</div>
