<table class="table">
  <thead>
  <tr>
    <th colspan="7" style="text-align:center; "><h4>Account mappings</h4>

    </th>
    <th>
      <a class="btn btn-primary" (click)="downloadCSV()">
        Download
      </a>
    </th>
  </tr>
  <tr>
      <th colspan="8" style="text-align:center; ">
          <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:7%"><input type="text" style="float:left;width: 92%;padding-right:0px;" [(ngModel)]="query">

      </th>
  </tr>
  <tr style="border-left: 1px; border-right: 1px">
    <th>Security<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>sdesc<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>TT<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>ldesc<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Account<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>leg<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>ldesc1<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">
    <td class="nowrap" *ngIf="!account.edition">{{account.syssec}}</td>
    <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="16" [(ngModel)]="account.syssec" class="myInput"></td>
    <td class="nowrap" *ngIf="!account.edition">{{account.sdesc}}</td>
    <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="36" [(ngModel)]="account.sdesc" class="myInput"></td>
    <td class="nowrap" *ngIf="!account.edition">{{account.tt}}</td>
    <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="10" [(ngModel)]="account.tt" class="myInput"></td>
      <td class="nowrap" *ngIf="!account.edition">{{account.ldesc}}</td>
      <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="80" [(ngModel)]="account.ldesc" class="myInput"></td>
      <td class="nowrap" *ngIf="!account.edition">{{account.acct}}</td>
      <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="16" [(ngModel)]="account.acct" class="myInput"></td>
      <td class="nowrap" *ngIf="!account.edition">{{account.leg}}</td>
      <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="10" [(ngModel)]="account.leg" class="myInput"></td>
      <td class="nowrap" *ngIf="!account.edition">{{account.ldesc1}}</td>
      <td class="nowrap" *ngIf="account.edition"><input type="text" maxlength="20" [(ngModel)]="account.ldesc1" class="myInput"></td>
  <td>
      <div>
          <div class="clickable" (click)="edit(account)" *ngIf="!account.edition" >
          <a>Edit</a>
      </div>
      <div class="clickable" (click)="save(account)" *ngIf="account.edition" >
      <a>Save </a>
      </div>
      <div class="clickable" (click)="cancel(account)" *ngIf="account.edition" >
      <a>Cancel</a>
      </div>
      <div class="clickable" (click)="delete(account)" *ngIf="!account.edition" >
      <a>Delete </a>
      </div>
      </div>
  </td>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="8">
          <div *ngIf="page && page.totalPages>1" style="height: 30px;">

              <ul class="pagination pagination-sm">
                  <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
                  <a class="clickable" (click)="changePage(one)">{{one}}</a>
                  </li>
              </ul>
          </div>
      </td>
  </tr>
  <tr>
    <td colspan="8"><a (click)="add()" class="pointer">+Add new record</a></td>
  </tr>
  </tfoot>
</table>
