<table class="table">
  <thead>
  <tr style="border-left: 1px; border-right: 1px">
    <th>Source</th>
    <th><div style="float:right">Num of records</div></th>
    <th><div style="float:right">Not reconciled</div></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let total of totals">
    <td>{{total.source}}</td>
    <td><div style="float:right">{{total.amount}}</div></td>
    <td><div style="float:right">{{total.records}}</div></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">
      <div *ngIf="page && page.totalPages>1" style="height: 30px;">

        <ul class="pagination pagination-sm">
          <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
            <a class="clickable" (click)="changePage(one)">{{one}}</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tfoot>
</table>

