<div class="panel panel-default panel-default-nested" style="margin-top:60px;">
    <div class="panel-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"><app-genex-status #genexStatus ></app-genex-status></div>

              <div class="col-md-6"><app-process-error  #processError ></app-process-error></div>
            </div>
            <div class="row">

              <div class="col-md-6"><app-process-validation #processValidation></app-process-validation></div>
                <div class="col-md-6"><app-run-process #run [sa]="false"></app-run-process></div>
            </div>
            <div class="row">
              <div class="col-md-6"><app-run-process #runSA [sa]="true"></app-run-process></div>
                <div class="col-md-6"><app-totals #totals></app-totals></div>
            </div>

        </div>

    </div>
</div>
