<table class="table">
  <thead>
  <tr>
    <th colspan="4" style="text-align:center; "><h4>Genex file</h4></th>
    <th>
      <a class="btn btn-primary" (click)="downloadCSV()">
      Download
    </a><a class="btn btn-primary" (click)="confirm()" style="margin-left: 5px;">
      Genex/Post GL
    </a></th>
  </tr>
  <tr>
      <th colspan="5" style="text-align:center; ">
          <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:7%"><input type="text" style="float:left;width: 92%;padding-right:0px;" [(ngModel)]="query">
      </th>
  </tr>
  <tr style="border: 1px;">
    <th>Account<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Amount<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Description<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Date<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let genex of genexes">
    <td *ngIf="!genex.edition">{{genex.account}}</td>
    <td *ngIf="genex.edition"><input type="text" maxlength="16" [(ngModel)]="genex.account" class="myInput"></td>
    <td *ngIf="!genex.edition"><div style="float:right">{{numberWithCommas(genex.amount| number:'.2':'enZA')}}</div></td>
    <td *ngIf="genex.edition"><input type="number"  [(ngModel)]="genex.amount" class="myInput"></td>
    <td *ngIf="!genex.edition">{{genex.description}}</td>
    <td *ngIf="genex.edition"><input type="text" maxlength="31" [(ngModel)]="genex.description" class="myInput"></td>
    <td *ngIf="!genex.edition"><div style="float:right">{{genex.date | date:'yyyy-MM-dd'}}</div></td>
    <td *ngIf="genex.edition"><input type="date" [(ngModel)]="genex.date" class="myInput"></td>
  <td>
      <div>
          <div class="clickable" (click)="edit(genex)" *ngIf="!genex.edition" >
                <a>Edit</a>
          </div>
          <div class="clickable" (click)="save(genex)" *ngIf="genex.edition" >
            <a>Save </a>
          </div>
          <div class="clickable" (click)="cancel(genex)" *ngIf="genex.edition" >
             <a>Cancel</a>
          </div>
          <div class="clickable" (click)="delete(genex)" *ngIf="!genex.edition" >
            <a>Delete </a>
          </div>
      </div>
  </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="5">
          <div *ngIf="page && page.totalPages>1" style="height: 30px;">

          <ul class="pagination pagination-sm">
              <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
              <a class="clickable" (click)="changePage(one)">{{one}}</a>
              </li>
          </ul>
          </div>
      </td>
  </tr>
  <tr>
    <td colspan="5"><a (click)="add()" class="pointer">+Add new record</a></td>
  </tr>
  </tfoot>
</table>


<modal #myModal [closeOnEscape]="false" [hideCloseButton]="true"
       [closeOnOutsideClick]="false">
  <modal-header>
    <h3>Do you want to execute procedure?</h3>
  </modal-header>
  <modal-footer>
    <button class="btn btn-primary" *ngIf="!running" (click)="run()">Confirm</button>
    <button class="btn btn-primary"  *ngIf="!running"(click)="myModal.close()">Close</button>

    <button class="btn btn-sm btn-warning" disabled="disabled" *ngIf="running"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> In Progress...</button>
  </modal-footer>
</modal>
