<table class="table">
  <thead>
  <tr>
    <th colspan="3" style="text-align:center;" *ngIf="!sa"><h4>Run Process</h4></th>
    <th colspan="3" style="text-align:center;"  *ngIf="sa"><h4>Stand Alone Tools</h4></th>
  </tr>
  <tr style="border-left: 1px; border-right: 1px">
    <th>Name</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let status of statuses">
      <td>{{getProcessName(status)}}</td>
      <td *ngIf="status.running">Running</td>
      <td *ngIf="!status.running"><a (click)="set(status);myModal.open()" class="pointer">Run Process</a></td>
  </tr>

  </tbody>
</table>


<modal #myModal [closeOnEscape]="false"
       [closeOnOutsideClick]="false">
  <modal-header>
    <h3 *ngIf="status">Do you want to execute procedure  {{getProcessName(status)}}?</h3>
  </modal-header>
  <modal-content *ngIf="status && status.processId==8">
    <h4>Please provide posting period</h4>
    <input type="text" [(ngModel)]="period"/>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" *ngIf="!running" (click)="run()">Confirm</button>
    <button class="btn btn-primary"  *ngIf="!running"(click)="myModal.close()">Close</button>

    <button class="btn btn-sm btn-warning" disabled="disabled" *ngIf="running"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> In Progress...</button>
  </modal-footer>
</modal>
