<table class="table">
  <thead>
  <tr>
    <th colspan="3" style="text-align:center; "><h4>Process Validation</h4></th>
  </tr>
  <tr>
      <th colspan="3" style="text-align:center; ">
          <input type="button" (click)="getData()" value="Filter" style="float:left;margin-right:5px;width:7%"><input type="text" style="float:left;width: 92%;padding-right:0px;" [(ngModel)]="query">
      </th>
  </tr>
  <tr style="border-left: 1px; border-right: 1px">
    <th>Source<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Name<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
    <th>Status<span class="glyphicon glyphicon-search" style="padding-left:5px"></span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let validation of processValidations">
    <td>{{validation.source}}</td>
    <td>{{validation.name}}</td>
    <td>{{validation.status}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">
      <div *ngIf="page && page.totalPages>1" style="height: 30px;">

        <ul class="pagination pagination-sm">
          <li *ngFor="let one of getPages()" [ngClass]="{active: one === (page.number + 1).toString()}">
            <a class="clickable" (click)="changePage(one)">{{one}}</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
